/node_modules
/public/hot
/public/storage
/bootstrap/cache
/storage/*.key
/storage
/public/upload
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
storage_filename.pdf
/public/uploads/
/vendor
